:root {
    --main-color: #fc5095;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
* {
    margin: 0;
    padding: 0;
    outline: 0;
}

a {
    text-decoration: none;
    color: #3b3b3b;
}

li {
    list-style: none;
    text-transform: uppercase;
}

h2,
.descr,
.links,
.ansver,
.modal-num,
.modal-text,
.input-block,
.label,
#error-message {
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
}

h2 {
    font-size: 34px;
    font-weight: 600;
    text-transform: uppercase;
}

.descr {
    margin: 30px 20px 150px 0;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}

.left {
    position: relative;
    min-height: 100%;
    width: 75%;
    background-image: url('img/picture.jpg');
    background-size: cover
}

.text {
    text-transform: uppercase;
    font-size: 16px;
}

.gradient {
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    opacity: 0.4;
    background: rgba(255, 255, 255, 0);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 83%, rgba(255, 255, 255, 0.05) 0%, var(--main-color) 100%);
    background: -webkit-gradient(left top, right top, color-stop(83%, rgba(255, 255, 255, 0)), color-stop(0%, rgba(255, 255, 255, 0.05)), color-stop(100%, var(--main-color)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 83%, rgba(255, 255, 255, 0.05) 0%, var(--main-color) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 83%, rgba(255, 255, 255, 0.05) 0%, var(--main-color) 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 83%, rgba(255, 255, 255, 0.05) 0%, var(--main-color) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 83%, rgba(255, 255, 255, 0.05) 0%, var(--main-color) 100%);
}

.right {
    width: 25%;
    border-left: solid 15px var(--main-color);
}

.nav {
    position: absolute;
    height: 56px;
    width: 100%;
    display: flex;
    align-items: center;
    bottom: 0;
    background-color: #fff;
    opacity: 0.7;
}

.links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    font-size: 11px;
    font-weight: bold;
}

.links li {
    margin: 5px 10px;
}

.two-tiers {
    width: 65%;
}

.empty-block {
    height: 200px;
    background-color: var(--main-color);
}

.questions {
    padding-top: 113px;
    padding-left: 65px;
}

.caption {
    color: var(--main-color);
}

.btn {
    height: 80px;
    width: 275px;
    margin-top: 27px;
    border-radius: 20px;
    border: none;
    background-color: var(--main-color);
    font-size: 38px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}

.circle {
    position: absolute;
    margin-top: 90px;
    margin-left: -58px;
    width: 80px;
    height: 80px;
    background: #fff;
    border: 10px solid var(--main-color);
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

svg {
    margin: 13px 0 0 10px;
    fill: var(--main-color);
}

.ansver {
    height: 60px;
    width: 330px;
    margin-bottom: 17px;
    background-color: #fff;
    border: 1px gray solid;
    border-radius: 20px;
    display: none;
    font-weight: 600;
    font-size: 26px;
    cursor: pointer;
}

.ansver:hover {
    background-color: var(--main-color);
}

.ansver:focus {
    background-color: var(--main-color);
}

#btn4 {
    margin-left: 95px;
    font-size: 24px;
    display: none;
}

#modal-window {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    opacity: 0.7;
}

.modal-win {
    position: absolute;
    width: 600px;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-left: 10%;
}

.modal-num {
    display: flex;
    text-align: justify;
    align-items: center;
    color: rgba(255, 255, 255, 1);
    font-size: 248px;
    font-weight: 800;
}

.modal-text {
    text-transform: uppercase;
    text-align: justify;
    font-size: 40px;
    font-weight: 800;
    color: rgba(255, 255, 255, 1);
    width: 770px;
}

.registration {
    display: none;
    width: 65%;
    padding-left: 65px;
}

.reg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    height: 60px;
    width: 200px;
    margin-top: 0;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
    color: #000;
    font-size: 22px;
    font-weight: 600;
    text-transform: none;
}

.reg:focus {
    background-color: var(--main-color);
}

.reg-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.input-block {
    margin-top: 15px;
    font-weight: 400;
}

#error-message,
.checkbox-block {
    margin-top: 15px;
}

#submit {
    font-size: 24px;
    background-color: #fff;
    border: 1px solid var(--main-color);
    color: #aaa9a9;
}

.label {
    opacity: 0.8;
    font-size: 14px;
}

.input {
    height: 55px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid red;
    box-shadow: 0px 0px 10px red;
    padding-left: 10px;
}

.green {
    border: 1px solid gray;
    box-shadow: none;
}

@keyframes move {
    0% {
        width: 25%;
    }
    100% {
        width: 50%;
    }
}